<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-8">
  
            <div>
                <div class="form-group">
                  <label for="titulo">Nome do Produto</label>
                  <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Digite aqui o Produto" [(ngModel)]="produto.nome">
                </div>
  
                <div class="form-group">
                    <label for="texto">Descriçao do Produto</label>
                    <textarea class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu texto" [(ngModel)]="produto.material"></textarea>
                </div>
  
                <div class="form-group m-0">
                  <label class="text-monospace" for="categoria">Escolha uma Categoria ou <a routerLink="/cadastrocategoria">Cadastre uma nova</a></label>
                  <select name="categoria" id='categoria' [(ngModel)]="idCategoria" (change)="findCategoriaById()" class="form-control">
                    <option *ngFor="let item of listaCategorias" value={{item.id}}>
                      {{item.descricao}}
                    </option>
                  </select>
                </div>
  
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-outline-info w-25" (click)="salvar()">Salvar</button>
                </div>
            </div>
  
        </div>
  
    </div>
  </div>
  