<div class="fundinho">
  <div class="container ">
    <div class="position-relative overflow-hidden p-3  text-center">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">SOBRE NÓS</h1>
        <br />
        <h2>Somos alunos <br />Generation Brasil</h2>
        <br />
        <h4>9ª Turma de Devs Jr <br />Grupo 6</h4>
        <br />
        <p class="lead font-weight-normal">
          Um pouqinho sobre nós que desenvolvemos o Projeto Lótus.
        </p>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <!--Primeira parte-->
      <div class="card-group">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">Evelyn Ferreira</h2>
              <p class="lead">Paraibana, curiosa, gosto de apreciar obras de artes como RuPaul's Drag Race, Steven
                Universe e otras mais.
              </p>
              <p class="lead">Adoro comtemplar a natureza e cuidar dos meus dois gatinhos.
              </p>
              <p class="lead"> O principal valor que eu gero é a solução de problemas: seja com planejamento,
                programação ou design. Mas sempre com muita persistência para vencer os desafios que surgem.
              </p>
              <div class="d-flex justify-content-around btn-toolbar">
                <a href="https://www.linkedin.com/in/efrrcst" target="_blank" class="btn-group mr-2" role="group">
                  <button type="button" class="btn btn-secondary">LinkedIn</button>
                </a>
                <a href="https://github.com/efrrcst " target="_blank" class="btn-group mr-2" role="group"
                  aria-label="Segundo grupo">
                  <button type="button" class="btn btn-secondary">GitHub</button>
                </a>
                <a href="https://efrrcst.github.io/Hello/" target="_blank" class="btn-group mr-2" role="group"
                  aria-label="Segundo grupo">
                  <button type="button" class="btn btn-secondary">Sitezinho</button>
                </a>
              </div>
            </div>
            <img class="card-img-top"
              src="https://files.slack.com/files-pri/T0197RBPXPU-F01EKBUUS1L/projetolotusevelyn.png?pub_secret=fb9ae46eb9"
              alt="Imagem de capa do card" />
          </div>
          <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
              <h2 class="display-5">José Guilherme</h2>
              <p class="lead">Paraibana, curiosa, gosto de apreciar obras de artes como RuPaul's Drag Race, Steven
                Universe e otras mais.
              </p>
              <p class="lead">Adoro comtemplar a natureza e cuidar dos meus dois gatinhos.
              </p>
              <p class="lead">O principal valor que eu gero é a solução de problemas: seja com planejamento, programação
                ou design. Mas sempre com muita persistência para vencer os desafios que surgem.
              </p>
              <div class="d-flex justify-content-around btn-toolbar" role="toolbar"
                aria-label="Toolbar com grupos de botões">
                <a href="https://www.linkedin.com/in/josé-guilherme-dias/" target="_blank" class="btn-group mr-2"
                  role="group">
                  <button type="button" class="btn btn-secondary">LinkedIn</button>
                </a>
                <a href="https://github.com/zeguilherme99 " target="_blank" class="btn-group mr-2" role="group"
                  aria-label="Segundo grupo">
                  <button type="button" class="btn btn-secondary">GitHub</button>
                </a>
              </div>
            </div>
            <img class="card-img-top"
              src="https://files.slack.com/files-pri/T0197RBPXPU-F01EY8UT08L/projetolotusjose.png?pub_secret=f9c9ca6655"
              alt="Imagem de capa do card" />
          </div>
        </div>
        <!--Segunda parte-->
        <div>
          <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
              <div class="my-3 py-3">
                <h2 class="display-5">Maicon Douglas</h2>
                <p class="lead">
                  Um realizador que busca conquistar meus objetivos dando o máximo de mim, gosto de games, natação, de
                  estar com a família e amigos .
                </p>
                <p class="lead">Sou baiano e tenho orgulho de ter conquistado objetivos meus, afinal, muitos foram os
                  desafios que vieram com eles.
                </p>
                <p class="lead">Tenho certeza que nas minhas mãos estão a força de vontade para conquistar o que desejo.
                </p>
                <div class="d-flex justify-content-around btn-toolbar">
                  <a href="https://www.linkedin.com/in/maicon-douglas/" target="_blank" class="btn-group mr-2"
                    role="group">
                    <button type="button" class="btn btn-secondary">LinkedIn</button>
                  </a>
                  <a href="https://github.com/maiconMD/" target="_blank" class="btn-group mr-2" role="group"
                    aria-label="Segundo grupo">
                    <button type="button" class="btn btn-secondary">GitHub</button>
                  </a>

                </div>
              </div>
              <img class="card-img-top"
                src="https://files.slack.com/files-pri/T0197RBPXPU-F01ES42E9S6/projetolotusmaicon.png?pub_secret=7ce2bb1f8c"
                alt="Imagem de capa do card" />
            </div>
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
              <div class="my-3 p-3">
                <h2 class="display-5">Maria Eduarda</h2>
                <p class="lead">
                  O amor à comunicação, curiosidade e determinação são o que me move.
                </p>
                <p class="lead">Com foco na visão estratégica do produto e da experiência do cliente, iniciei minha
                  carreira em marketing.
                </p>
                <p class="lead">Isto fez com que eu descobrisse posteriormente uma paixão por tecnologia, que é onde
                  posso desenvolver ainda melhor o meu repertório.
                </p>
                <div class="d-flex justify-content-around btn-toolbar" role="toolbar"
                  aria-label="Toolbar com grupos de botões">
                  <a href="https://www.linkedin.com/in/maria-eduarda-freitas-371ab81ba/" target="_blank"
                    class="btn-group mr-2" role="group">
                    <button type="button" class="btn btn-secondary">LinkedIn</button>
                  </a>
                  <a href="https://github.com/maria-ed" target="_blank" class="btn-group mr-2" role="group"
                    aria-label="Segundo grupo">
                    <button type="button" class="btn btn-secondary">GitHub</button>
                  </a>
                </div>
              </div>

              <img class="card-img-top"
                src="https://files.slack.com/files-pri/T0197RBPXPU-F01EY8UU8DS/projetolotusmaria.png?pub_secret=432868ce7a"
                alt="Imagem de capa do card" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>