<!--Formulário-->
<div class="imagemDeFundo">
    <div class="container">

        <div class="row  d-flex">
            <div class="col-md-8 ">
              <h1>
                Deixe seu comentário
              </h1>
              <form>
              <div class="form-group">
                <label for="email">Endereço de email</label>
                <input type="email" class="form-control" id="email" onkeyup='validaEmail()' placeholder="nome@exemplo.com">
                
              </div>
              <div id="txtEmail"></div>
              <div class="form-group">
                <label for="nome">Nome Completo</label>
                <input type="email" class="form-control" id="nome" placeholder="Nome Completo" onkeyup ='validaNome()'>
                <div id="txtName"></div>
              </div>
              <div class="form-group">
                <label for="comentario">Comentario</label>
                <textarea class="form-control" id="comentario" onkeyup='validaComentario()' rows="3"></textarea>
                <div id="txtComentario"></div>
              </div>
              <input class="btn btn-primary" type="submit" value="Submit">

            </form>
            </div>
            <div class="col-md-4 d-flex justify-content-center mt-5 mb-4" >
                <div class="link" style="width: 18rem; height: 200pt ;" >
                    <a  href="https://web.whatsapp.com/" target="black"><img class="card-img-top"  src="https://conteudo.imguol.com.br/61/2015/12/16/whatsapp-logo-logotipo-midia-indoor-1450301574403_1400x1410.jpg" alt="Imagem de capa do card">
                    </a>
                    
                  </div>
              </div>
          </div>
          <!--Formulário-->


          
    </div>
    

</div>
