

.texto{
    letter-spacing: .2rem;
    font-size: 16pt;
}

a{
    cursor: pointer;
}



.fon{

    background-image: url("https://i.imgur.com/miLPiO7.jpg");
}

.navbarsemmarg{

    position: relative;
  
}

.navbar ul li:hover{
    background: black;

}



.navbar ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 50px;
	color: white;
	
	font-family: sans-serif;
	cursor: pointer;
	border-radius: 10px;
}



   